*{
	margin: 0 auto;
	padding: 0;
}

body {
	font-family: Arial, serif;
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	-o-user-select: none;
	user-select: none;
	color:#4B6A88;
	background: #dbdbdb;
}

header{
	background:#40423d;
	height: 2.5em;
	display: flex;
	padding-top: 5px;
	padding-left: 7px;
	color: #def;
}

h1 {
	margin: 0;
	width:50%;
}

#icons{
	margin: 0;
	width:50%;
	text-align: right;
	margin-right: 20px;
}

#icons > img{
	padding-top: 5px;
	padding-left: 15px;
	filter: invert(91%) sepia(43%) saturate(3091%) hue-rotate(177deg) brightness(106%) contrast(101%);
}

#icons > img:hover{
	cursor: pointer;
}

#container{
	display: flex;
}

#gameArea{
	display: flex;
	width: 780px;
}

.center{
	width: 60%;
}

#abilities{
	padding-top:80px;
	flex-grow: 1;
}

#abilities > div{
	padding-left: 40px;
	width: 25%;
	border: 1px solid #222;
	margin: 0;
	font-size: 1.5em;
}

#abilities p{
	margin-bottom:15px;
	padding-left:15px;
	font-weight: bold;
	text-decoration: underline;
}

#abilities li{
	margin-bottom: 30px;
}

#abilities li:hover{
	text-decoration: underline;
	cursor: pointer;
}

.column{
	margin:20px;
	display: flex;
	flex-direction: column;
}

.column > *{
	margin-bottom: 40px;
}

.display{
	display: flex;
	margin-top:20px;
}

.title{
	font-weight: bold;
}

.number{
}

.active {
	opacity: 1 !important;
}

.gameButton{
	height:350px;
	width:350px;
	opacity: .8;
	border: 2px solid transparent;
}

.red:hover, .blue:hover, .yellow:hover, .green:hover {
	border: 2px solid black;
}

.red {
	background: #D50209;
}

.activeRed{
	background: #FD0D15;
}

.blue {
	background: #0000CC;
}

.activeBlue{
	background:#0000FF;
}

.yellow {
	background: #D3C112;
}

.activeYellow{
	background: #EDDC2B;
}

.green {
	background: #006700;
}

.activeGreen{
	background: #009A00;
}

.dissapear {
  box-shadow: 0 0 50px white;
  filter: brightness(250%);
}
